* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100vh;
}

.main {
  padding: 10px;
}

.main .item {
  font-size: 2rem;
  background-color: burlywood;
  width: 100%;
  height: 300px;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(31, 25, 25);
}

ul.start, ul.end {
  display: flex;
  padding: 0;
}

ul.start > li, ul.end > li {
  list-style-type: none;
  padding: 0 10px;
  color: whitesmoke;
}